$font-top-menu: 'Times New Roman', Times, serif;
$font-menu: 'DynalightRegular';
$font-header: 'DynalightRegular';
$font-logo: 'NickainlyNormal', cursive;
$font-advert: 'NickainlyNormal', cursive;
$font-popup: "Open Sans", sans-serif;


body {
  background: #cecece !important;
  color:#000000;
  margin:0px;
}

