<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="docflow">
        <meta name="description" content="docflow">
        <meta name="author" content="Denis Stovbun">
        <title><%docflow_title%></title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="/docflow/assets/css/app.css">
    </head>
    <body>
        <div id="root"></div>

        <script type="text/javascript" src="/docflow/assets/bundle/main.bundle.js" ></script>

    </body>
</html>
